.most-popular-item {
  flex: 1 25%;
  min-width: 200px;
}
.card-wrapper {
  background-color: var(--color-dark);
  border-radius: calc(var(--dist-secondary) / 2);
  padding: calc(var(--dist-secondary) / 2);
  margin: 10px;
}
.most-popular-item-img {
  width: 100%;
  height: 22vh;
  border-radius: calc(var(--dist-secondary) / 4);
  margin-bottom: var(--dist-secondary);
}
.most-popular-item-content {
  display: flex;
  justify-content: space-between;
}
.most-popular-item-title,
.most-popular-item-content ul li span {
  font-size: 14px;
}
.most-popular-item-title {
  line-height: 1.7;
}
.most-popular-item-title span {
  color: var(--secondary-color);
}
