.section-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feat-l img {
  width: 100%;
  border-radius: 23px;
}

@media (max-width: 1200px) {
  .section-details {
    justify-content: center;
    margin-top: 10px;
  }
  .feat-r {
    margin-bottom: 10px;
    display: none;
  }
}
.feat-r {
  position: relative;

}

.feat-r img {
  border-radius: 23px;
}
.feat-r a  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.feat-r a span {
  font-size: 40px;
  color: var(--primary-color);
}


.fortnite-details {
  width: 100%;
  text-align: center;
  margin: 40px 0 10px;
}
.fortnite-details h2 {
  font-size: 40px;
  font-weight: 900;
}
