

.cyborg-navbar {
  min-height: 100px;
}
button {
  background-color: var(--primary-color);
}
ul .nav-comp {
  padding: 10px;
}
ul li .a-head {
  color: var(--color-light);
}
ul li .a-head:hover {
  color: var(--primary-color)
}
ul li .active {
  color: var(--primary-color)
}


