.gaming-library-card {
  flex: 1 1 100%;
}
.gaming-library-card ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  padding: calc(var(--dist-secondary) / 2) 0;
}
@media (max-width: 992px) {
  .gaming-library-card {
    flex: 1 0 33.3%;
  }
  .gaming-library-card ul{
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .gaming-library-card ul li {
    text-align: center;
    padding: 10px 0;
  }
  .gaming-library-card ul li:not(:nth-child(5)){
    border-bottom: 1px solid var(--primary-color);
  }
  .gaming-library-card ul li:nth-child(5){
    margin-bottom: 10px;
  }
}
.gaming-library-card h4 {
  font-size: 16px;
}
.gaming-library-card span {
  color: var(--secondary-color);
}
