:root {
  --color-dark: #27292a;
  --color-darkest: #1f2122;
  --color-light: White;
  --primary-color: #ec6090;
  --secondary-color: #959597;
  --dist-primary: 50px;
  --dist-secondary: calc(var(--dist-primary) / 2);
  --border-r-main: var(--dist-secondary)
}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

  
  body {
  background-color: var(--color-darkest);
  font-family: 'Poppins', sans-serif;
  color: var(--color-light);
}
ul {
  list-style: none;
  margin: 0;
}
a{
  text-decoration: none;
}
